body{
    background-color: #14a2c5;
    margin: 2%;
}
#head{
    text-align: center;
    font-size: 10vh;
    
}
#img{
    display: inline;
    width: 100%;
}
h3{
    color: rgb(16, 11, 11);
    margin-left: 70px;
}
p{
    margin-left: 70px;
}
#uu{
    color: rgb(16, 15, 16);
    margin-left: 70px;
    text-shadow: 5px 5px 10px rgb(234, 233, 233);
    font-size: 7vh;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border: 8px solid rgb(43, 199, 32);
}
